/* =Forms
-------------------------------------------------------------- */

/* =Contacts form styling
-------------------------------------------------------------- */

tr.contacts-error {
  background: $alert-warning-bg;
  li {
    padding: 0;
  }
  +tr td {
    border-top: none;
    padding-top: 0;
    background: $alert-warning-bg;
  }
}

/* =Party selection widget
-------------------------------------------------------------- */

#select-party {
  #party-select {
    width: 100%;
  }
  .select2 {
    display: block;
    margin: 0.5em 0;
    width: 100%;
  }
  #add-party {
    padding: 6px 18px;
    .glyphicon {
      opacity: 0.5;
      padding-right: 8px;
    }
  }
}

.select2-container {
  .party-name {
    display: block;
  }
  .party-type {
    display: block;
    font-size: 0.85em;
    opacity: 0.75;
  }
}

/* =Error messaging for forms
-------------------------------------------------------------- */

label.required:after { // for required fields to show asterisk
  content: "*";
  color: $brand-danger;
  font-style: normal;
  padding: 0 3px;
}

.form-group.has-error {
  background-color: $alert-warning-bg;
  padding: 10px;
}

ul.parsley-errors-list {
  margin-bottom: 0;
  padding-left: 0;
  list-style: none !important;
  li {
    background-color: $alert-warning-bg;
    color: $alert-danger-text;
    padding: 2px 8px;
  }
}

.form-group.has-error {
  background-color: $alert-warning-bg;
  padding: 10px;
}

/* =Parsley client-side validation
-------------------------------------------------------------- */

.has-success input,
.has-success select,
.has-success textarea {
  //color: #468847;
  //border: 1px solid #D6E9C6;
  background: url('/static/img/checkmark.png') 98% 50% no-repeat;
  padding-right: 36px;
}

.has-error input,
.has-error select,
.has-error textarea {
  border: 1px solid $brand-danger;
  background: #fff url('/static/img/cross.png')  98% 50% no-repeat;
  padding-right: 36px;
}

.parsley-errors-list, .error-list {
  margin: 2px 0 3px;
  padding: 0;
}

.parsley-errors-list {
  opacity: 0;
  transition: all .3s ease-in;
  -o-transition: all .3s ease-in;
  -moz-transition: all .3s ease-in;
  -webkit-transition: all .3s ease-in;
}

.parsley-errors-list.filled {
  opacity: 1;
}



/* PARSLEY FORM VALIDATION 

 ensure field-spans injected by parsley don't take up space when empty... 

.parsley-messages {
  display: none;
}
.parsley-messages.filled {
  display: block;
}

/* aggregated parsley error message display... 

div.validation-errors-container {
  display: none;
}
div.validation-errors-container.filled {
  display: block;
}
div.validation-errors-container ul.validation-errors-list {
  margin: 0;
  padding: 0;
}
div.validation-errors-container ul.validation-errors-list li {
  color: rgb(169, 68, 66);
  list-style: outside none disc;
  margin-left: 16px;
  padding-left: 1em;
  text-indent: -0.7em;
}
div.validation-errors-container ul.validation-errors-list li a {
  color: inherit;
}
*/
